@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat',sans-serif;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 30px auto;
    padding: 0 30px;
}
.grid{
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
.image img{
    max-width: 100%;
    display: inherit;
}
.info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: hsl(228, 12%, 48%);
    font-size: 10px;
}

.title{
    font-size: 22px;
    font-family: 'Fraunces',sans-serif;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
}
.product-description{
    color: hsl(228, 12%, 48%);
    line-height: 1.6em;
}
.price{
    display: flex;
    align-items: center;
}
.price-current{
    font-family: 'Fraunces',sans-serif;
    color: hsl(158, 36%, 37%);
    font-size: 15px;
    padding-right: 25px;
    
}
.price-discount{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}
.button{
    background: hsl(158, 36%, 37%);
    border: none;
    border-radius: 15px;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 100%;
}

@media only screen and (max-width: 628px){
    .grid{
        grid-template-columns: 1fr;
    }
    .image img{
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }
    .info{
        display: block;
    }
    .header{
        padding: 23px;
    }
    .product-info{
        padding: 23px;
    }
    .product-description{
        padding: 23px;
    }
    .price{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 375px){
    .container{
        margin: 15px auto;
        padding: 0 15px;
    }
    .image img{
        max-height: 350px;
        width: 100%;
        object-fit: cover;
    }
    .info{
        display: block;
    }
    .header{
        padding: 10px;
    }
    .product-info{
        padding: 10px;
    }
    .product-description{
        padding: 10px;
    }
    .price{
        display: flex;
        align-items: center;
        justify-items: center;
        padding-bottom: 20px;
    }
}